
@media (max-width:1220px) {
    .card{
        width: 400px;
    }
}

@media (max-width:992px) {
    .card{
        width: 300px;
    }
}

@media (max-width:576px) {
    .card{
        width: 100%;
        background-color: #f4f4f4;
        text-align: center;
        margin: auto;
    }
}